{% extends "lms/base.html" %}

{% load static %}

{% block title %}Home | LibraryName{% endblock %}

{% block body %}
    {% include 'lms/main/navbar.html' %}

    <main class="container">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ultrices sed elit ac ullamcorper. Vestibulum ac
        rutrum lacus. Ut velit ligula, vestibulum id nisi sed, venenatis rhoncus justo. Aliquam at velit lacus.
        Curabitur in lectus leo. Aliquam non sapien in sapien eleifend gravida at a elit. Quisque euismod ligula eget
        fermentum congue. Pellentesque eget dui eu erat commodo ullamcorper. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Mauris gravida diam quis scelerisque finibus. Cras hendrerit tempus nisl, sit amet blandit quam
        ornare eu. Curabitur vestibulum, nisi ac sollicitudin euismod, libero magna scelerisque nulla, in viverra tortor
        turpis eget mauris. Donec vitae efficitur mauris.

        Suspendisse volutpat nulla augue, sit amet condimentum purus viverra vitae. Donec nec orci purus. Mauris
        hendrerit rhoncus tempus. Praesent congue eleifend ex sed volutpat. Nulla ipsum metus, congue id risus blandit,
        convallis condimentum lectus. Praesent in erat lobortis nulla congue fermentum. Duis lacus enim, posuere quis
        purus eget, fermentum rhoncus elit.

        Donec aliquam posuere libero, sit amet condimentum augue finibus eu. Vestibulum consequat, ipsum eu aliquet
        dignissim, justo arcu venenatis velit, vitae fringilla leo urna a turpis. Nullam eget egestas nulla. Curabitur
        at odio porttitor lorem tempus venenatis. Nullam sit amet tincidunt lacus. Etiam quis ultricies eros. Integer a
        ante ac odio iaculis porttitor.

        Vestibulum egestas, est a vulputate viverra, purus lacus luctus metus, vel auctor diam metus faucibus diam.
        Praesent vestibulum sit amet neque sit amet maximus. Praesent sagittis suscipit ligula vel mollis. Class aptent
        taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis augue mi, dapibus vel
        accumsan vitae, faucibus et leo. In hac habitasse platea dictumst. Donec posuere vitae nisi in tincidunt. Sed
        sed odio vulputate, tempus nulla eget, semper nunc.

        In ultrices magna ut urna condimentum fringilla. In tincidunt pretium consectetur. Phasellus laoreet lorem sit
        amet eros molestie suscipit. Proin laoreet lacus ut ullamcorper elementum. Aliquam tempor, justo ac bibendum
        fermentum, ligula ligula rhoncus dolor, nec bibendum orci metus at quam. Aliquam volutpat velit diam. Nullam
        convallis libero ut suscipit placerat. Integer bibendum, felis vel lobortis dignissim, dolor lacus rutrum justo,
        id posuere felis augue at nulla. Vestibulum eu commodo leo. Ut suscipit erat sit amet augue facilisis, a
        fringilla velit vehicula. Proin convallis finibus semper. Sed a dictum ligula. Donec malesuada finibus erat, in
        vulputate justo mollis ut. Quisque feugiat sapien nec rhoncus rhoncus. Fusce cursus rhoncus quam, quis luctus
        nibh vehicula porta.


        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ultrices sed elit ac ullamcorper. Vestibulum ac
        rutrum lacus. Ut velit ligula, vestibulum id nisi sed, venenatis rhoncus justo. Aliquam at velit lacus.
        Curabitur in lectus leo. Aliquam non sapien in sapien eleifend gravida at a elit. Quisque euismod ligula eget
        fermentum congue. Pellentesque eget dui eu erat commodo ullamcorper. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Mauris gravida diam quis scelerisque finibus. Cras hendrerit tempus nisl, sit amet blandit quam
        ornare eu. Curabitur vestibulum, nisi ac sollicitudin euismod, libero magna scelerisque nulla, in viverra tortor
        turpis eget mauris. Donec vitae efficitur mauris.

        Suspendisse volutpat nulla augue, sit amet condimentum purus viverra vitae. Donec nec orci purus. Mauris
        hendrerit rhoncus tempus. Praesent congue eleifend ex sed volutpat. Nulla ipsum metus, congue id risus blandit,
        convallis condimentum lectus. Praesent in erat lobortis nulla congue fermentum. Duis lacus enim, posuere quis
        purus eget, fermentum rhoncus elit.

        Donec aliquam posuere libero, sit amet condimentum augue finibus eu. Vestibulum consequat, ipsum eu aliquet
        dignissim, justo arcu venenatis velit, vitae fringilla leo urna a turpis. Nullam eget egestas nulla. Curabitur
        at odio porttitor lorem tempus venenatis. Nullam sit amet tincidunt lacus. Etiam quis ultricies eros. Integer a
        ante ac odio iaculis porttitor.

        Vestibulum egestas, est a vulputate viverra, purus lacus luctus metus, vel auctor diam metus faucibus diam.
        Praesent vestibulum sit amet neque sit amet maximus. Praesent sagittis suscipit ligula vel mollis. Class aptent
        taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis augue mi, dapibus vel
        accumsan vitae, faucibus et leo. In hac habitasse platea dictumst. Donec posuere vitae nisi in tincidunt. Sed
        sed odio vulputate, tempus nulla eget, semper nunc.

        In ultrices magna ut urna condimentum fringilla. In tincidunt pretium consectetur. Phasellus laoreet lorem sit
        amet eros molestie suscipit. Proin laoreet lacus ut ullamcorper elementum. Aliquam tempor, justo ac bibendum
        fermentum, ligula ligula rhoncus dolor, nec bibendum orci metus at quam. Aliquam volutpat velit diam. Nullam
        convallis libero ut suscipit placerat. Integer bibendum, felis vel lobortis dignissim, dolor lacus rutrum justo,
        id posuere felis augue at nulla. Vestibulum eu commodo leo. Ut suscipit erat sit amet augue facilisis, a
        fringilla velit vehicula. Proin convallis finibus semper. Sed a dictum ligula. Donec malesuada finibus erat, in
        vulputate justo mollis ut. Quisque feugiat sapien nec rhoncus rhoncus. Fusce cursus rhoncus quam, quis luctus
        nibh vehicula porta.


        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ultrices sed elit ac ullamcorper. Vestibulum ac
        rutrum lacus. Ut velit ligula, vestibulum id nisi sed, venenatis rhoncus justo. Aliquam at velit lacus.
        Curabitur in lectus leo. Aliquam non sapien in sapien eleifend gravida at a elit. Quisque euismod ligula eget
        fermentum congue. Pellentesque eget dui eu erat commodo ullamcorper. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Mauris gravida diam quis scelerisque finibus. Cras hendrerit tempus nisl, sit amet blandit quam
        ornare eu. Curabitur vestibulum, nisi ac sollicitudin euismod, libero magna scelerisque nulla, in viverra tortor
        turpis eget mauris. Donec vitae efficitur mauris.

        Suspendisse volutpat nulla augue, sit amet condimentum purus viverra vitae. Donec nec orci purus. Mauris
        hendrerit rhoncus tempus. Praesent congue eleifend ex sed volutpat. Nulla ipsum metus, congue id risus blandit,
        convallis condimentum lectus. Praesent in erat lobortis nulla congue fermentum. Duis lacus enim, posuere quis
        purus eget, fermentum rhoncus elit.

        Donec aliquam posuere libero, sit amet condimentum augue finibus eu. Vestibulum consequat, ipsum eu aliquet
        dignissim, justo arcu venenatis velit, vitae fringilla leo urna a turpis. Nullam eget egestas nulla. Curabitur
        at odio porttitor lorem tempus venenatis. Nullam sit amet tincidunt lacus. Etiam quis ultricies eros. Integer a
        ante ac odio iaculis porttitor.

        Vestibulum egestas, est a vulputate viverra, purus lacus luctus metus, vel auctor diam metus faucibus diam.
        Praesent vestibulum sit amet neque sit amet maximus. Praesent sagittis suscipit ligula vel mollis. Class aptent
        taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis augue mi, dapibus vel
        accumsan vitae, faucibus et leo. In hac habitasse platea dictumst. Donec posuere vitae nisi in tincidunt. Sed
        sed odio vulputate, tempus nulla eget, semper nunc.

        In ultrices magna ut urna condimentum fringilla. In tincidunt pretium consectetur. Phasellus laoreet lorem sit
        amet eros molestie suscipit. Proin laoreet lacus ut ullamcorper elementum. Aliquam tempor, justo ac bibendum
        fermentum, ligula ligula rhoncus dolor, nec bibendum orci metus at quam. Aliquam volutpat velit diam. Nullam
        convallis libero ut suscipit placerat. Integer bibendum, felis vel lobortis dignissim, dolor lacus rutrum justo,
        id posuere felis augue at nulla. Vestibulum eu commodo leo. Ut suscipit erat sit amet augue facilisis, a
        fringilla velit vehicula. Proin convallis finibus semper. Sed a dictum ligula. Donec malesuada finibus erat, in
        vulputate justo mollis ut. Quisque feugiat sapien nec rhoncus rhoncus. Fusce cursus rhoncus quam, quis luctus
        nibh vehicula porta.


        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ultrices sed elit ac ullamcorper. Vestibulum ac
        rutrum lacus. Ut velit ligula, vestibulum id nisi sed, venenatis rhoncus justo. Aliquam at velit lacus.
        Curabitur in lectus leo. Aliquam non sapien in sapien eleifend gravida at a elit. Quisque euismod ligula eget
        fermentum congue. Pellentesque eget dui eu erat commodo ullamcorper. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Mauris gravida diam quis scelerisque finibus. Cras hendrerit tempus nisl, sit amet blandit quam
        ornare eu. Curabitur vestibulum, nisi ac sollicitudin euismod, libero magna scelerisque nulla, in viverra tortor
        turpis eget mauris. Donec vitae efficitur mauris.

        Suspendisse volutpat nulla augue, sit amet condimentum purus viverra vitae. Donec nec orci purus. Mauris
        hendrerit rhoncus tempus. Praesent congue eleifend ex sed volutpat. Nulla ipsum metus, congue id risus blandit,
        convallis condimentum lectus. Praesent in erat lobortis nulla congue fermentum. Duis lacus enim, posuere quis
        purus eget, fermentum rhoncus elit.

        Donec aliquam posuere libero, sit amet condimentum augue finibus eu. Vestibulum consequat, ipsum eu aliquet
        dignissim, justo arcu venenatis velit, vitae fringilla leo urna a turpis. Nullam eget egestas nulla. Curabitur
        at odio porttitor lorem tempus venenatis. Nullam sit amet tincidunt lacus. Etiam quis ultricies eros. Integer a
        ante ac odio iaculis porttitor.

        Vestibulum egestas, est a vulputate viverra, purus lacus luctus metus, vel auctor diam metus faucibus diam.
        Praesent vestibulum sit amet neque sit amet maximus. Praesent sagittis suscipit ligula vel mollis. Class aptent
        taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis augue mi, dapibus vel
        accumsan vitae, faucibus et leo. In hac habitasse platea dictumst. Donec posuere vitae nisi in tincidunt. Sed
        sed odio vulputate, tempus nulla eget, semper nunc.

        In ultrices magna ut urna condimentum fringilla. In tincidunt pretium consectetur. Phasellus laoreet lorem sit
        amet eros molestie suscipit. Proin laoreet lacus ut ullamcorper elementum. Aliquam tempor, justo ac bibendum
        fermentum, ligula ligula rhoncus dolor, nec bibendum orci metus at quam. Aliquam volutpat velit diam. Nullam
        convallis libero ut suscipit placerat. Integer bibendum, felis vel lobortis dignissim, dolor lacus rutrum justo,
        id posuere felis augue at nulla. Vestibulum eu commodo leo. Ut suscipit erat sit amet augue facilisis, a
        fringilla velit vehicula. Proin convallis finibus semper. Sed a dictum ligula. Donec malesuada finibus erat, in
        vulputate justo mollis ut. Quisque feugiat sapien nec rhoncus rhoncus. Fusce cursus rhoncus quam, quis luctus
        nibh vehicula porta.
    </main>
{% endblock body %}