{% extends "lms/base.html" %}

{% load static %}

{% block title %}Home | LibraryName{% endblock %}

{% block body %}
    {% include 'lms/main/navbar.html' %}

    <main class="container py-4 pb-5">
        {% include 'lms/components/searchbox.html' %}

        <div class="border rounded p-4 h-100 mx-sm-0 mx-3 mb-3">
            <h3>Library information</h3>
            <div class="d-flex justify-content-between">
                <div class="flex-grow-1 me-3">
                    <h4>Opening hours</h4>
                    <div class="list-group" style="max-width: 400px; min-width: 225px;">
                        <div class="list-group-item">
                            Monday <span class="float-end">09.30 – 20.00</span>
                        </div>
                        <div class="list-group-item">
                            Tuesday <span class="float-end">09.30 – 20.00</span>
                        </div>
                        <div class="list-group-item">
                            Wednesday <span class="float-end">09.30 – 20.00</span>
                        </div>
                        <div class="list-group-item">
                            Thursday <span class="float-end">09.30 – 20.00</span>
                        </div>
                        <div class="list-group-item">
                            Friday <span class="float-end">09.30 – 18.00</span>
                        </div>
                        <div class="list-group-item">
                            Saturday <span class="float-end">09.30 – 17.00</span>
                        </div>
                        <div class="list-group-item">
                            Sunday <span class="float-end">11.00 – 17.00</span>
                        </div>
                    </div>
                </div>
                <div class="flex-grow-1">
                    <h4>Other resources</h4>
                    <ul>
                        <li><a href="#">Library eBooks</a></li>
                        <li><a href="#">Library audiobooks</a></li>
                        <li><a href="https://www.gutenberg.org/">Free classic eBooks</a></li>
                        <li><a href="#">Oxford English Dictionary online access</a></li>
                        <li><a href="#">Online reference library</a></li>
                        <li><a href="#">Online newspaper access</a></li>
                        <li><a href="#">Online magazine access</a></li>
                    </ul>
                    <h4>Useful links</h4>
                    <ul>
                        <li><a href="#">Find a library</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">A guide to using the library</a></li>
                        <li><a href="mailto:thelibrarian@libraries.net">Ask a librarian</a></li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="border rounded p-4 h-100 mx-sm-0 mx-3 mb-3">
            <h3>Featured books</h3>
            <div class="d-flex justify-content-start gap-4 w-100 overflow-auto pb-2">
                {% for book in object_list %}
                    <div class="position-relative">
                        <img src="{{ book.cover_file.url }}" alt="{{ book.title }} cover"
                             class="rounded" height="300">
                        <a class="stretched-link" title="{{ book.title }}"
                           href="{{ book.get_absolute_url }}"></a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="border rounded p-4 h-100 mx-sm-0 mx-3 mb-3">
            <h3>Newly added</h3>
            <div class="d-flex justify-content-start gap-4 w-100 overflow-auto pb-2">
                {% for book in newly_added %}
                    <div class="position-relative">
                        {% if book.cover_file %}
                            <img src="{{ book.cover_file.url }}" alt="{{ book.title }} cover"
                                 class="rounded" height="300">
                        {% else %}
                            <div class="bg-light rounded border d-flex justify-content-center align-items-center p-3 fs-5"
                                 style="height: 300px; width: 180px;">
                                <span class="text-center overflow-hidden"
                                      style="max-height: 250px">{{ book.title }}</span>
                            </div>
                        {% endif %}
                        <a class="stretched-link" title="{{ book.title }}"
                           href="{{ book.get_absolute_url }}"></a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock body %}