{% extends "lms/base.html" %}
{% load markdownify %}

{% load humanize %}

{% block title %}{{ book.title }} | LibraryName{% endblock %}

{% block body %}
    {% include 'lms/main/navbar.html' %}

    <main class="py-5 px-lg-5 container">
        {# LEFT SIDEBAR (COVER/INFO/STAFF OPTIONS) #}
        <div class="position-fixed">
            <div style="max-width: 235px;" class="overflow-scroll">
                {% if book.cover_file %}
                    <img height="350" src="{{ book.cover_file.url }}" alt="{{ book.title }} cover"
                         class="rounded">
                {% else %}
                    <div class="bg-light rounded-3 border d-flex justify-content-center align-items-center fs-5 text-muted fst-italic"
                         style="height: 350px; width: 225px;">
                        No cover found
                    </div>
                {% endif %}
            </div>
            <ul class="list-group my-3">
                {% if book.date_published %}
                    <li class="list-group-item">Published {{ book.date_published }}</li>
                {% endif %}
                <li class="list-group-item">ISBN <span class="float-end">{{ book.isbn }}</span></li>
                <li class="list-group-item">OL ID <span class="float-end">{{ book.edition_id }}</span></li>
            </ul>

            {% if user.is_staff %}
                <div class="border border-secondary rounded-3 p-3">
                    <h5>Staff options</h5>
                    <div class="d-flex flex-column w-100 gap-1">
                        <a class="btn btn-secondary" href="{% url "admin:lms_book_change" book.pk %}">Edit on
                            admin site</a>
                        <a class="btn btn-secondary" href="{% url "admin:lms_book_change" book.pk %}#copies-group">Add
                            copy</a>
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="d-flex flex-column w-100" style="padding-left: 250px;">
            {# TITLE AND AUTHORS #}
            <div class="d-flex justify-content-between align-items-end mb-1">
                <h1>{{ book.title }}</h1>
                <h4 class="pb-1">by
                    {% for author in book.authors.all %}
                        {% if forloop.last and book.authors.count > 1 %}and {% endif %}
                        <a href="{{ author.get_absolute_url }}">{{ author.name }}</a>
                        {% if not forloop.last and book.authors.count > 2 %},{% endif %}
                    {% endfor %}
                </h4>
            </div>

            {# DESCRIPTION #}
            {% if book.description %}
                <div class="mb-3" id="book-description-collapse-container">
                    <div class="collapse" id="book-description-collapse" aria-expanded="false">
                        <p class="mb-1">{{ book.description|markdownify }}</p>
                    </div>
                    <a role="button" class="collapsed collapse-button btn btn-outline-secondary btn-sm mt-1"
                       data-bs-toggle="collapse" href="#book-description-collapse"
                       aria-expanded="false"
                       aria-controls="book-description-collapse"></a>
                </div>
            {% endif %}

            {# COPIES #}
            <div class="d-flex justify-content-between align-items-end">
                <h3>Copies</h3>
                {% with num_copies=book.num_copies_available %}
                    <h5 class="pb-1">{{ num_copies|apnumber|capfirst }} cop{{ num_copies|pluralize:'y,ies' }}
                        available</h5>
                {% endwith %}
            </div>
            <ul style="max-height: 185px" class="overflow-auto list-group mb-2 pe-1">
                {% for copy in book.copies.all|dictsort:"accession_code"|dictsort:"unavailable" %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>{{ copy.accession_code }}</span>
                        <span class="text-end">
                        {% if copy.unavailable %}
                            Due on {{ copy.due_date }}
                        {% else %}
                            Available
                        {% endif %}</span>
                    </li>
                {% endfor %}
            </ul>

            {% if book.copies.count > 0 %}
                <a class="btn btn-outline-primary mb-4 me-1" href="{% url 'reserve_book' book.edition_id %}">Reserve a
                    copy</a>
            {% endif %}

            {# OTHER EDITIONS #}
            {% if book.other_editions %}
                <h3>Other editions</h3>
                <div style="max-height: 220px" class="overflow-auto list-group mb-4 pe-1">
                    {% for edition in book.other_editions.all|dictsortreversed:"num_copies_available" %}
                        <a href="{{ edition.get_absolute_url }}"
                           class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            <div class="d-flex gap-3 align-items-center">
                                {% if edition.cover_file %}
                                    <img height="50" src="{{ edition.cover_file.url }}" alt="{{ edition.title }} cover"
                                         style="border-radius: 0.2rem;">
                                {% else %}
                                    <div class="bg-light rounded border border"
                                         style="height: 50px; width: 35px;">
                                    </div>
                                {% endif %}
                                <span>{{ edition.title }} ({{ edition.isbn }})</span>
                            </div>
                            {% with num_copies=edition.num_copies_available %}
                                <span class="text-end">{{ num_copies|apnumber|capfirst }}
                                    cop{{ num_copies|pluralize:'y,ies' }} available</span>
                            {% endwith %}
                        </a>
                    {% endfor %}
                </div>
            {% endif %}

            {# AUTHORS' OTHER BOOKS #}
            {% if other_author_books %}
                <h3 class="pb-1">Other books by th{{ book.authors.count|pluralize:'is,ese' }}
                    author{{ book.authors.count|pluralize }}</h3>
                <div class="d-flex w-100 gap-3 mw-100 overflow-scroll pb-2">
                    {% for book in other_author_books %}
                        <div class="position-relative">
                            {% if book.cover_file %}
                                <img height="200" src="{{ book.cover_file.url }}" alt="{{ book.title }} cover"
                                     class="rounded">
                            {% else %}
                                <div class="bg-light rounded border d-flex justify-content-center align-items-center p-2"
                                     style="height: 200px; width: 120px;">
                                <span class="text-center overflow-hidden"
                                      style="max-height: 160px">{{ book.title }}</span>
                                </div>
                            {% endif %}
                            <a class="stretched-link" title="{{ book.title }}"
                               href="{{ book.get_absolute_url }}"></a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </main>

{% endblock %}

{% block head %}
    <style>
        #book-description-collapse-container {
            font-size: 1rem;
            line-height: 1.5;
        }

        #book-description-collapse-container #book-description-collapse.collapse:not(.show) {
            display: block;
            height: 3rem;
            overflow: hidden;
        }

        #book-description-collapse-container #book-description-collapse.collapsing {
            height: 3rem;
        }

        #book-description-collapse-container a.collapse-button.collapsed::after {
            content: '+ Read more';
        }

        #book-description-collapse-container a.collapse-button:not(.collapsed)::after {
            content: '- Read less';
        }
    </style>
{% endblock %}